.profileContainer {
    display: flex;
    align-items: center;
}

.profileContainer__imgPerfil {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
}

.profileContainer__info {
    margin-left: 1.5rem;
}

.profileContainer__name {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--title);
}

.profileContainer__levelInfo {
    font-size: 1rem;
    margin-top: 0.5rem;
}

.profileContent__imgLevel {
    margin-right: 0.5rem;
}