.container {
    height: 100vh;
    max-width: 992px;
    margin: 0 auto;
    padding: 2rem 0.8rem;
    display: flex;
    flex-direction: column;
}

.container section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2.4rem;
}

@media (min-width: 767px) {
    .container section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 6.25rem;
        align-content: center;
    }
    .container {
        padding: 2.5rem 2rem;
    }
}